*.class

# Package Files #
*.jar
*.war
*.ear

*.bat
*.sh
*.txt
*.cfg
*.properties
CHANGELOG

bin/*
conf/*
docs/*
eclipse/*
forge/*
jars/*
lib/*
logs/*
reobf/*
runtime/*
src/minecraft/*
src/minecraft_server/*
src/minecraft/common/net/*
src/minecraft/common/cpw/*
src/minecraft/common/org/*
src/common/cpw/*
src/common/net/*
src/common/org/*

src/common/railcraft/*
src/common/ic2/*
src/common/forestry/*
src/common/buildcraft/*

minecraft old src/*
temp/*
modsrc/*